<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <title>Mad Lib with C#</title>
</head>
<body>
  <h1>Please fill out the following:</h1>
    <form action="/inTheJungleStoryText">
      <div class="container">
        <div class="form-group">
          <label for="verb1">A Verb Please</label>
          <input type="text" name="verb1" id="verb1" class="form-control">
        </div>
        <div class="form-group">
          <label for="verb2">A Verb Please</label>
          <input type="text" name="verb2" id="verb2" class="form-control">
        </div>
        <div class="form-group">
          <label for="verb3">A Verb Please</label>
          <input type="text" name="verb3" id="verb3" class="form-control">
        </div>
        <div class="form-group">
          <label for="verb4">A Verb Please</label>
          <input type="text" name="verb4" id="verb4" class="form-control">
        </div>
        <div class="form-group">
          <label for="noun1">A Noun Please</label>
          <input type="text" name="noun1" id="noun1" class="form-control">
        <div class="form-group">
        <div class="form-group">
          <label for="noun2">A Noun Please</label>
          <input type="text" name="noun2" id="noun2" class="form-control">
        <div class="form-group">
        <div class="form-group">
          <label for="noun3">A Noun Please</label>
          <input type="text" name="noun3" id="noun3" class="form-control">
        <div class="form-group">
        <div class="form-group">
          <label for="noun4">A Noun Please</label>
          <input type="text" name="noun4" id="noun4" class="form-control">
        <div class="form-group">
          <label for="adjective1">An Adjective Please</label>
          <input type="text" name="adjective1" id="adjective1" class="form-control">
        </div>
        <div class="form-group">
          <label for="adjective2">An Adjective Please</label>
          <input type="text" name="adjective2" id="adjective2" class="form-control">
        </div>
        <div class="form-group">
          <label for="adjective3">An Adjective Please</label>
          <input type="text" name="adjective3" id="adjective3" class="form-control">
        </div>
        <div class="form-group">
          <label for="adjective4">An Adjective Please</label>
          <input type="text" name="adjective4" id="adjective4" class="form-control">
        </div>
        <div class="form-group">
          <label for="adjective5">An Adjective Please</label>
          <input type="text" name="adjective5" id="adjective5" class="form-control">
        </div>
        <div class="form-group">
          <label for="adjective6">An Adjective Please</label>
          <input type="text" name="adjective6" id="adjective6" class="form-control">
        </div>
        <div class="form-group">
          <label for="adjective7">An Adjective Please</label>
          <input type="text" name="adjective7" id="adjective7" class="form-control">
        </div>
        <button type="submit">Submit</button>
      </div>
    </form>
</body>
</html>