<div class="container">
  <h1>The Monkey King</h1>
  <p>The day I saw the Monkey King @Model.Verb1 was one of the most
  interesting days of the year.</p>

  <p>After he did that, the king played chess on his brother's
  @Model.Noun1 and then combed his @Model.Adjective1 hair with a
  comb made out of old fish bones. Later that same day, I saw the
  Monkey King dance @Model.Adverb1
  in front of an audience of kangaroos and wombats.</p>
</div>