<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <title>Mad Lib with C#</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <a href="/inTheJungleStory">In The Jungle Madlib</a>
      </div>
      <div class="col-lg-6">
        <a href="/monkeyStory">Monkey Madlib</a>
      </div>
    </div>
  </div>
</body>
</html>